@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.circle-background {
  overflow: hidden;
  background: radial-gradient(
    closest-side,
    rgba(45, 212, 191, 1),
    rgba(233, 168, 2, 0)
  );
  z-index: -1;
}
.circle-background-2 {
  overflow: hidden;
  background: radial-gradient(closest-side, #a855f7, rgba(233, 168, 2, 0));
  z-index: -1;
}
.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}
.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}
.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.button {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 0px 30px;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  border: solid 1px #5857ff;
  background-color: #5857ff;
  background: #5857ff;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.9px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  background-image: linear-gradient(to bottom, #5857ff, #5857ff);
  user-select: none;

  &-primary {
    font-size: 16px;
    height: 35px;
    padding: 0 18px;
    /* line-height: 20px; */
    background: #2778ff;
    border-color: #2778ff;
    display: flex;
    border-radius: 8px;
    border-width: 2px;
    text-transform: capitalize;
    transition: all 0.15s ease-in-out;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #fff;
      color: #2778ff;
    }
  }

  &-secondary {
    font-size: 16px;
    height: 35px;
    padding: 0 18px;
    /* line-height: 20px; */
    background: #f54153;
    border-color: #f54153;
    display: flex;
    border-radius: 8px;
    border-width: 2px;
    text-transform: capitalize;
    transition: all 0.15s ease-in-out;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #fff;
      color: #f54153;
    }
  }
}

.introduction {
  &-tip {
    font-size: 24px;
    font-weight: 500;
    color: #fdba04;
  }

  &-title {
    font-size: 36px;
    font-weight: bold;
    color: #0d1545;
    letter-spacing: unset;
  }

  &-devide {
    display: block;
    width: 88px;
    height: 8px;
    background: #3753fa;
    margin-bottom: 36px;
  }

  &-list-feature {
    margin-bottom: 20px;
    list-style-type: none;

    & li {
      padding-left: 30px;
      font-size: 16px;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      color: #0d1545;
      line-height: 28px;
      margin-bottom: 16px;
      position: relative;

      &::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0;
        top: 4px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-color: unset;
        background-image: url('./../../public/assets/icon_label.svg');
      }
    }
  }

  & button {
    height: 50px !important;
    margin-top: 20px;
    padding: 0px 60px !important;
    box-sizing: content-box;
  }
}